/* --------------
    SHORTCUTS
-------------- */
:root {
    --mgwrpcMain1: #8C52FF; 
    --mgwrpcMain2: #FF914D;
    --black1: #000;
    --black2: #151515;
    --black3: #303030;
    --gray1: #222;
    --gray2: #333;
    --gray3: #444;
    --white1: #ffffff;
    --white2: #F2EFEB;
    --white3: #dddddd;
    --paracolor: #5e6c79;
}

/* --------------
    ADD BUTTON
-------------- */
.add {
    background-color: #86e49d;
    color: #006b21;
    width: 100px;
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
    font-size: 16px;
    font-weight: 600;
}

/* --------------
    INVENTORY
-------------- */
.edit-button .btn {
    margin-top:5px;
    background: transparent;
    border: none;
}

.edit-button .btn img {
    width: 35px; 
    cursor: pointer;
}

.table {
    width: 100%;
    height: 80vh;
    background-color: transparent;
    justify-content: center !important;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

section{
    margin: 2rem 0;
}

.table__header {
    padding: 50px 40px;
    width: 100%;
    height: 10%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white1);
    transition: 0.3s;
}

.table__header .input-group {
    width: 35%;
    position: relative;
    padding: 0 15px;
    background-color: #fff5;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.table__header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group img {
    cursor: pointer;
  width: 30px;
  position: absolute;
  right: 20px;
}

.table__header .input-group input {
   padding: 20px 30px;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    width: 100%;
    max-height: calc(89% - 1.6rem);
    background-color: var(--white3);
    margin: .8rem auto;
    overflow: overlay;
    display: flex;
  
}

.table__body td {
    text-align: center;
}

.table__body th {
    text-align: center;
}

.table__body td:first-child {
    width: 20%;
}
   
.table__body td:nth-child(2) {
    width: 30%; 
}

.table__body td:nth-child(3) {
    width: 10%; 
}

.table__body td:nth-child(4) {
    width: 10%; 
}

.table__body td:nth-child(5) {
    width: 15%; 
}

.table__body td:nth-child(6) {
    width: 15%; 
}

.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--gray3);
}
   
.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: var(--gray2);
    visibility: hidden;
}
   
.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}

table {
    width: 100%;

}

td img {
    width: 40px;
    height: 40px;
    margin-right: .5rem;
    border-radius: 50%;
    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    top: 0;
    left: 0;
    background-color: var(--gray3);
    cursor: pointer;
    text-transform: capitalize;
    color: var(--white1);
    transition: .3s ease-in-out;
}

tbody tr:nth-child(odd) {
    background-color: var(--white1);
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: var(--white2);
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

.image-container {
    position: relative;
    display: inline-block;
}

/* -------------
   BREAKPOINTS
-------------- */
@media (max-width: 1000px) {
    h1 {
        display: none;
    }

    .table__header .input-group {
        width: 60%;
        margin-left: -16px;
    }

    .table__header .input-group:hover {
        width: 60%;
    }
    
    .edit-button .btn {
        margin-right: -16px;
    }
    
    tbody tr td,
    tbody tr td p,
    tbody tr td img {
        transition: .2s ease-in-out;
        text-align: left;
    }

    thead th span.icon-arrow {
        display: none;
    }

    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}
