/* -------------
    SHORTCUTS
-------------- */
:root {
    --mgwrpcMain1: #8C52FF; 
    --mgwrpcMain2: #FF914D;
    --black1: #000;
    --black2: #151515;
    --black3: #303030;
    --gray1: #222;
    --gray2: #333;
    --gray3: #444;
    --white1: #ffffff;
    --white2: #F2EFEB;
    --white3: #dddddd;
    --paracolor: #5e6c79;
}

.chartBox {
    width: 800px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

.selectBox,
.selectBox2,
.selectBox3 {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 80px;
    transition: 0.3s;
    width: 100%;
}

#productReserve, #productReserve2, #productReserve3 {
    width: 200px;
}

#productReserve:hover, #productReserve2:hover, #productReserve3:hover {
    transform: scale(1.09);
}

.selectBox select,
.selectBox2 select,
.selectBox3 select {
    background-color: var(--black2);
    color: var(--white1);
    border: 1px solid var(--white1);
    left: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
}

.selectBox select:focus,
.selectBox2 select:focus,
.selectBox3 select:focus {
    outline: none;
    border-color: var(--mgwrpcMain1);
}