/* ------------
    IMPORTS
------------ */
@import url('https://fonts.cdnfonts.com/css/poppins');

/* ------------
   SHORTCUTS
------------ */
:root {
    --mgwrpcMain1: #8C52FF; 
    --mgwrpcMain2: #FF914D;
    --gray1: #222;
    --gray2: #333;
    --gray3: #444;
    --black: #000;
    --black2: #151515;
    --white1: #ffffff;
    --white2: #F2EFEB;
    --white2: #F2EFEB;
    --white3: #dddddd;
}



/* ------------
    RESETS
------------ */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    background: var(--black);
    backdrop-filter: blur(18px); 
    background-size: cover;
    background-position: center;
}



/* -------------
     NAVBAR
------------- */ 
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    backdrop-filter: blur(50px); 
    z-index: -1;
}

.logo {
    font-size: 2rem;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Ethnocentric', sans-serif;
    background-image: linear-gradient(to right, var(--mgwrpcMain1), var(--mgwrpcMain2));
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.06);
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

.navbar a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    transition: 0.3s ease;
}

.navbar a:hover {
    color: var(--mgwrpcMain1);
    transition: color 0.3s ease, background-color 0.3s ease; 
    transform: scale(1.06px);
}

/* -------------
   BREAKPOINTS
------------- */ 
@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 886px) {
    .icons {
        display: inline-flex;
    }

    #check:checked ~ .icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
         display: none;
    }

    #check:checked ~ .icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(50px); 
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: 0.3s ease;
    }

    #check:checked ~ .navbar {
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: 0.3s ease;
    }

    #check:checked ~ .navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
}



/* -------------
     FOOTER
------------- */ 
footer {
    padding: 80px 13% 100px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    background: #1a242f;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer-content h4{
    color: #fff;
    margin-bottom: 1.5rem;
    font-size: 20px;
}

.footer-content li {
    margin-bottom: 16px;
}

.footer-content li a {
    display: block;
    color: #d6d6d6;
    font-size: 15px;
    font-weight: 400;
    transition: all 0.40s ease;

}

.footer-content li a:hover {
    transform: translateY(-3px) translateX(-5px);
    color: var(--mgwrpcMain1);
}

.footer-content p {
    color: #d6d6d6;
    font-size: 16px;
    margin: 20px 0;
}


.logo2 {
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Ethnocentric', sans-serif;
    color: #ffffff;
}

.icons2 a {
    display: inline-block;
    font-size: 28px;
    color: #d6d6d6;
    margin-right: 17px;
    transition: all 0.40s ease;
}

.icons2 a:hover {
    color: var(--mgwrpcMain1);
    transform: translateY(-5px);
}

/* -------------
   BREAKPOINTS
------------- */ 
@media(max-width: 1690px){
    footer {
        padding: 50px 5% 40px;
    }
}

@media(max-width: 1120px){
    .footer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        gap: 2rem;
    }

    .icons2 a {
        margin-bottom: 50px;
    }
}

@media(max-width: 700px){
    .footer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, auto));
        gap: 2.5rem;
    }
}



/* -------------
   COPYRIGHTS
------------- */
.copyrights {
    text-align: center;
    background-color: #ececec;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1px 0;
}

.copyrights p {
    font-size: 14px;
    padding: 1px 0 1px 0;
    text-align: center;
}

.copyrights p span {
    background-color: var(--mgwrpcMain1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 600;
}

/* -------------
   BREAKPOINTS
------------- */ 
@media(max-width: 767px){
    .copyrights p {
        font-size: 16px;
        padding: 8px 0 8px 0;
    }
}
@media(max-width: 574px){
    .copyrights p {
        font-size: 14px;
        padding: 8px 0 8px 0;
    }
}



/* -------------
   PROMOTION
------------- */ 
.slider-container {
    position: relative;
    z-index: 1; 
    padding: 80px 0 50px 0;
}

.slider {
    width: calc(100vw - 20px); 
    height: calc(100vh - 80px); 
    margin: auto;
    position: relative;
    overflow: hidden; 
}

.slider .list {
    position: absolute;
    width: 100%; 
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}

.slider .list .item {
    width: 100%; 
    flex-shrink: 0;
}

.slider .list img {
    width: 100%; 
    height: auto; 
    max-height: 100%; 
    object-fit: contain; 
    display: block; 
    margin: auto;
}

.slider .buttons,
.slider .dots {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.slider .buttons {
    top: 50%;
    transform: translateY(-50%);
}

.slider .buttons button{
    width: 50px;
    height: 50px;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}

.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}

.slider .dots li.active{
    width: 30px;
}

/* -------------
   BREAKPOINTS
------------- */ 
@media screen and (max-width: 1750px){
    .slider{
        height: 820px;
    }
}

@media screen and (max-width: 1600px){
    .slider{
        height: 800px;
    }
}

@media screen and (max-width: 1500px){
    .slider{
        height: 760px;
    }
}

@media screen and (max-width: 1400px){
    .slider{
        height: 710px;
    }
}

@media screen and (max-width: 1300px){
    .slider{
        height: 660px;
    }
}

@media screen and (max-width: 1200px){
    .slider{
        height: 610px;
    }
}

@media screen and (max-width: 1100px){
    .slider{
        height: 560px;
    }
}

@media screen and (max-width: 1000px){
    .slider{
        height: 510px;
    }
}

@media screen and (max-width: 900px){
    .slider{
        height: 400px;
    }

    .item img {
        content: url('Images/bg1.jpg');
    }
}
